.sidebar-container {
    display: flex;
    background-color: #010317
}

.sidebar {
    color: #7d84ab;
    overflow-x: hidden !important;
    position: relative;
    width: 70px !important;
    min-width: 70px !important;
    -webkit-transition: width, left, right, 0.3s;
    transition: width, left, right, 0.3s;
}

.sidebar::-webkit-scrollbar {
    width: 0px;
    background-color: #0c1e35;
}

.sidebar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #888;
}

.sidebar .sidebar-layout {
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: rgba(3, 6, 37, 1);
    z-index: 2;
    overflow-y: visible;
    height: auto;
}

.sidebar .sidebar-layout .sidebar-header {
    height: 115px;
    display: flex;
    align-items: center;
    padding: 0 15px 0 20px;
}

.layout .sidebar .menu .menu-header {
    font-weight: 600;
    padding: 10px 25px;
    font-size: 0.8em;
    letter-spacing: 2px;
    color: #FFFFFF;
    transition: opacity 0.3s;
}

.layout .sidebar .menu .menu-item {
    margin: 10px 0;
}

.layout .sidebar .menu a .menu-item img {
    transition: .4s;
}

.layout .sidebar .menu .menu-item a {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 15px;
    color: #FFFFFF;
    transition: .4s;
    position: relative;
}

.layout .sidebar .menu .menu-item a.active,
.layout .sidebar .menu .menu-item a:hover {
    background: rgba(75, 104, 240, 0.16);
}

.layout .sidebar .menu .menu-item a.active .menu-icon img,
.layout .sidebar .menu .menu-item a:hover .menu-icon img {
    background: linear-gradient(to right, #526EF2, #B5C7FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    filter: drop-shadow(0px 1000px 0 rgba(181, 199, 255, 1));
    transform: translateY(-1000px);
}

.layout .sidebar .menu .menu-item a .menu-icon {
    font-size: 25px;
    width: 35px;
    min-width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    border-radius: 2px;
    transition: color 0.3s;
}

.layout .sidebar .menu .menu-item a .menu-title {
    font-family: var(--popping);
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    transition: color 0.3s;
    font-weight: 400;
    font-size: 16px;
    color: rgba(221, 226, 255, 1);
}

/* New-sidebar expanded menu styles */
.new-sidebar .sidebar-menu {
    background: #030625;
    width: 250px;
    height: 100%;
    border-radius: 16px;
    margin: 25px 0 25px 25px;
    padding: 25px;
}

.new-sidebar .sidebar-menu .menu-item {
    transition: 0.4s;
}

.new-sidebar .sidebar-menu .menu-item a {
    color: #FFFFFF;
    margin: 10px 0;
    padding: 12px 10px;
    transition: .4s;
    display: flex;
    align-items: center;
}

.new-sidebar .sidebar-menu .menu-item:first-child a {
    margin-top: 0;
}

.new-sidebar .sidebar-menu .menu-item:last-child a {
    margin-bottom: 0;
}

.new-sidebar .sidebar-menu .menu-item a.active,
.new-sidebar .sidebar-menu .menu-item a:hover {
    background: rgba(75, 104, 240, 0.16);
    border-radius: 6px;
}

.new-sidebar .sidebar-menu .menu-item a .menu-title {
    font-family: var(--popping);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    transition: 0.4s;
    font-weight: 400;
    font-size: 14px;
    color: rgba(221, 226, 255, 1);
}

.new-sidebar .sidebar-menu .menu-item a.active .menu-title,
.new-sidebar .sidebar-menu .menu-item a:hover .menu-title {
    background: linear-gradient(to right, #526EF2, #B5C7FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Utility classes */
.layout .sidebar .menu ul,
.layout .sidebar .menu .submenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}