/* Utility Classes */
.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.text-end {
    font-family: var(--popping);
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
}

.row {
    --bs-gutter-x: 4.5rem !important;
}

.data-not-found {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

/* Loader */
.spinner-border {
    width: 18px;
    height: 18px;
}

.loader-overlay-cluster {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 12, 44, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader-cluster {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Status */
.status.green {
    color: #00e300;
}

.status.red {
    color: #ff1616;
}

